<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.WhoWantsToBeAMillionaire"
        tools:targetApi="31">
        <activity
            android:name=".Winner"
            android:exported="false"
            android:screenOrientation="sensor"/>
        <activity
            android:name=".Question_Fifteen"
            android:exported="false"
            android:screenOrientation="sensor"/>
        <activity
            android:name=".Question_Fourteen"
            android:exported="false"
            android:screenOrientation="sensor"/>
        <activity
            android:name=".Question_Thirteen"
            android:exported="false"
            android:screenOrientation="sensor"/>
        <activity
            android:name=".Question_Twelve"
            android:exported="false"
            android:screenOrientation="sensor"/>
        <activity
            android:name=".Question_Eleven"
            android:exported="false"
            android:screenOrientation="sensor"/>
        <activity
            android:name=".Question_Ten"
            android:exported="false"
            android:screenOrientation="sensor"/>
        <activity
            android:name=".Question_Nine"
            android:exported="false"
            android:screenOrientation="sensor"/>
        <activity
            android:name=".Question_Eight"
            android:exported="false"
            android:screenOrientation="sensor"/>
        <activity
            android:name=".Question_Seven"
            android:exported="false"
            android:screenOrientation="sensor"/>
        <activity
            android:name=".Question_Six"
            android:exported="false"
            android:screenOrientation="sensor"/>
        <activity
            android:name=".Question_Five"
            android:exported="false"
            android:screenOrientation="sensor"/>
        <activity
            android:name=".Question_Four"
            android:exported="false"
            android:screenOrientation="sensor"/>
        <activity
            android:name=".Question_Three"
            android:exported="false"
            android:screenOrientation="sensor"/>
        <activity
            android:name=".GameOver"
            android:exported="false"
            android:screenOrientation="sensor"/>
        <activity
            android:name=".Price_Money"
            android:exported="false"
            android:screenOrientation="sensor"/>
        <activity
            android:name=".Question_Two"
            android:exported="false"
            android:screenOrientation="sensor"/>
        <activity
            android:name=".Question_One"
            android:exported="false"
            android:screenOrientation="sensor"/>
        <activity
            android:name=".Register"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:exported="false"
            android:windowSoftInputMode="adjustPan"
            android:screenOrientation="sensor"/>
        <activity
            android:name=".LetsPlay"
            android:exported="false"
            android:screenOrientation="sensor"/>
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:screenOrientation="sensor">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>